/**
 * @description 基础样式库
 * @author zhangli
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial,
    sans-serif;
  font-size: 14px !important;
  overflow-x: hidden;
  line-height: 20px;
  color: #444 !important;
  padding-top: constant(safe-area-inset-top);
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
}

p {
  line-height: 12px;
}

div {
  outline: 0 !important;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
}

input:focus,
textarea:focus,
select:focus {
  outline-offset: -1px;
  outline: -webkit-focus-ring-color auto 5px;
}

ul,
li {
  margin-bottom: 0 !important;
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  outline: none;
}

/* 界面布局 */
.u-page {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.u-pos-box {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}

.u-inline-block {
  display: inline-block;
}

/* 界面对齐 */
.u-tx-c {
  text-align: center;
}

.u-tx-r {
  text-align: right;
}

/* 元素滚动 */
.u-scroll-y {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.u-scroll-x {
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

/* 元素隐藏 */
.u-hide {
  display: none;
}

.u-of {
  overflow: hidden;
}

.u-auto {
  overflow: auto;
}

/* 元素加粗 */
.u-bold {
  font-weight: bold;
}

/* 元素阴影 */
.box-shadow {
  box-shadow: 0 0 4px #eee;
  padding: 20px;
}

/* 文本间距*/
.u-letter-1 {
  letter-spacing: 2px;
}

.u-letter-2 {
  letter-spacing: 4px;
}

.u-letter-3 {
  letter-spacing: 6px;
}

/**
 * 元素只显示一行，两行，三行多余的隐藏
 */
.u-te {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.u-te2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/**间距**/
.u-mar-10 {
  margin: 10px;
}

.u-padd-10 {
  padding: 10px;
}

.u-mar-t10 {
  margin-top: 10px;
}

.u-mar-b10 {
  margin-bottom: 10px;
}

.u-mar-r10 {
  margin-right: 10px;
}

.u-mar-l10 {
  margin-left: 10px;
}

.u-padd-t10 {
  padding-top: 10px;
}

.u-padd-b10 {
  padding-bottom: 10px;
}

.u-padd-r10 {
  padding-right: 10px;
}

.u-padd-l10 {
  padding-left: 10px;
}

.u-mar {
  margin: 20px;
}

.u-padd {
  padding: 20px;
}

.u-mar-t20 {
  margin-top: 20px;
}

.u-mar-b20 {
  margin-bottom: 20px;
}

.u-mar-r20 {
  margin-right: 20px;
}

.u-mar-l20 {
  margin-left: 20px;
}

.u-padd-t20 {
  padding-top: 20px;
}

.u-padd-b20 {
  padding-bottom: 20px;
}

.u-padd-r20 {
  padding-right: 20px;
}

.u-padd-l20 {
  padding-left: 20px;
}

.u-te3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

/**定义伸缩盒子模型**/
.u-fx {
  display: flex;
  display: -webkit-flex;
}

/**定义垂直方向盒子模型**/
.u-fx-ver {
  flex-direction: column;
  -webkit-flex-direction: column;
}

/**水平垂直居中**/
.u-fx-ac-jc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/**水平垂直居中**/
.u-fx-ac-je {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

/**盒子模型水平反向布局**/
.u-fx-revX {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}

/**盒子模型垂直反向布局**/
.u-fx-revY {
  flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
}

/**垂直居中**/
.u-fx-ac {
  align-items: center;
  -webkit-align-items: center;
}

/**垂直居下**/
.u-fx-ae {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

/**元素水平居中**/
.u-fx-jc {
  justify-content: center;
  -webkit-justify-content: center;
}

/**元素水平居右**/
.u-fx-je {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

/**元素两端对齐**/
.u-fx-jsb {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

/**元素以相同间距分配对齐**/
.u-fx-jsa {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

/**子元素固定宽度弹性布局且换行**/
.u-fx-wp {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

/**弹性盒子等分比例分配**/
.u-fx-f1 {
  flex: 1;
  -webkit-flex: 1;
  position: relative;
}

.u-fx-f2 {
  flex: 2;
  -webkit-flex: 2;
  position: relative;
}

.u-fx-f3 {
  flex: 3;
  -webkit-flex: 3;
  position: relative;
}

.u-fx-f4 {
  flex: 4;
  -webkit-flex: 4;
  position: relative;
}

/**公共样式**/
.banner-top {
  width: 100%;
  height: 5.9rem;
  display: block;
}

.module-title {
  padding: 30px 0;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

.font-title {
  font-size: 14px;
  font-weight: bold;
}

.level-title {
  font-size: 12px;
  color: #999;
}

.solution-img {
  width: 100%;
  height: 3.2rem;
  display: blocks;
}

.case-img {
  width: 100%;
  display: block;
  height: 3rem;
}

.product-img {
  width: 100%;
  height: 3.5rem;
  display: block;
}

/**响应式**/
@media screen and (max-width: 767px) {
  .header-com {
    width: 100%;
    padding: 20px;
    height: 60px;
  }

  .logo {
    width: 100px;
    height: auto;
    display: block;
  }

  .content-w {
    width: 94%;
    margin: 0 auto;
  }
  .title-line {
    padding: 0.6rem 0;
    font-size: 22px;
    text-align: center;
  }
  .ywms-bg {
    background: url(../../assets/img/business.png) no-repeat center;
    background-size: 100% 100%;
    height: 450px;
  }

  .hz-bg {
    background: url(../../assets/img/cooperation.png) no-repeat center;
    background-size: 100% 100%;
    height: 450px;
  }
  .video-player-box {
    position: fixed;
    width: 375px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -188px;
    z-index: 9999;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-com {
    width: 100%;
    padding: 20px;
  }

  .content-w {
    width: 90%;
    margin: 0 auto;
  }
  .title-line {
    padding: 0.6rem 0;
    font-size: 22px;
    text-align: center;
  }
  .ywms-bg {
    background: url(../../assets/img/business.png) no-repeat center;
    background-size: 100% 100%;
    height: 490px;
  }

  .hz-bg {
    background: url(../../assets/img/cooperation.png) no-repeat center;
    background-size: 100% 100%;
    height: 490px;
  }
  .video-player-box {
    position: fixed;
    width: 800px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -400px;
    z-index: 9999;
  }
}

@media screen and (min-width: 1200px) {
  .module-title {
    font-size: 30px;
    padding: 60px 0;
  }
  .title-line {
    padding: 0.6rem 0;
    font-size: 26px;
    text-align: center;
  }
  .header-com {
    width: 80%;
    left: 10%;
    height: 100px;
  }

  .content-w {
    width: 80%;
    margin: 0 auto;
  }

  .ywms-bg {
    background: url(../../assets/img/business.png) no-repeat center;
    background-size: auto 100%;
    height: 640px;
  }

  .hz-bg {
    background: url(../../assets/img/cooperation.png) no-repeat center;
    background-size: auto 100%;
    height: 640px;
  }
  .product-top {
    margin-top: 80px;
  }
  .video-player-box {
    position: fixed;
    width: 800px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -400px;
    z-index: 9999;
  }
}
